body {
  margin: 60px auto;
  display: block;
}

h1,
h2,
h3 {
  color: white;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 50px;
}
h2 {
  color: #53565c;
  font-size: 11px;
  font-family: "Comfortaa", cursive;
}

h3 {
  font-size: 25px;
  text-transform: capitalize;
}

p {
  text-align: center;
  color: white;
}

.temperature {
  font-size: 50px;
  text-align: center;
}

.weather-app {
  max-width: 600px;
  padding: 25px;
  margin: 30px auto;
  background-color: #8db0f4;
  border-radius: 25px;
  border: 1px solid #b8b8b8;
}

.search-bar {
  font-size: 12px;
  border-radius: 25px;
  border: none;
  font-family: "Comfortaa", cursive;
}

.search-button {
  font-size: 12px;
  border-radius: 25px;
  font-family: "Comfortaa", cursive;
  background-color: #5682d7;
  border: none;
}

.current-button {
  background-color: white;
  font-size: 12px;
  font-family: "Comfortaa", cursive;
  border-radius: 25px;
  border: none;
}

.footer {
  text-align: center;
  font-size: 10px;
  padding-top: 20px;
  color: #53565c;
}

.units {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  position: relative;
  top: -25px;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-date {
  text-align: center;
  font-family: "Comfortaa", cursive;
  font-size: 17px;
  color: white;
}

.weather-forecast-temperature-maximum {
  color: #53565c;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  font-family: "Comfortaa", cursive;
}

.weather-forecast-temperature-minimum {
  color: #53565c;
  opacity: 0.6;
  font-size: 13px;
  text-align: center;
  font-family: "Comfortaa", cursive;
}
